.details{
    padding:0 25px;
   
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
h2{
        font-size: 1.5em;
    }
    
.photoStrip {
    flex: 1;
    display: flex;
    overflow: auto;
  }    
  
   img {
      margin: 0 1px;
    }